body {
	background-color: DimGray;
	font-size: 100%;
	
}

h1 {
	font-size: 64px;
	text-shadow: -2px 2px #000000;
}
.heading {
    	background-image: url("https://c6.staticflickr.com/9/8329/8083698557_0d00d5b07c_b.jpg");
    	display: block;
	margin-left: auto;
    	margin-right: auto;
    	/*
	width: 1024px;
    	height: 683px;
    	position: relative;
	*/
}

#heading-content {
	position: absolute;
    	top: 50%;
	transform: translate(0, - 50%);
    	width: 100%;
    	text-align: center;
    	color: #ffffff;
}     

#bike-photos {
	/*width: 800px;
	*/
	margin-left: auto;
	margin-right: auto;
}
