.heading {
    background-image: url("https://c6.staticflickr.com/9/8329/8083698557_0d00d5b07c_b.jpg");
    width: 1024px;
}

#heading-content {
    margin: auto;
    text-align: center;
    color: "#ffffff";
}     
